body {
	font-family: 'Raleway';
	margin-top: 25px;
}

.fa-btn {
	margin-right: 6px;
}

.table-text div {
	padding-top: 6px;
}

.fotoEscudo{
	width: 40px;
	height: 40px;
}

.fotoEscudoBig{
	margin: 10%;
	width: 80%;
	height: 80%;
}