body {
	font-family: 'Raleway';
	margin-top: 25px;
}

.fa-btn {
	margin-right: 6px;
}

.table-text div {
	padding-top: 6px;
	text-align: center;
}

.table-text i{
	margin-right: 15px;
}

.listado_usuarios_table{
	width: 50%;
}

.fotoEscudo{
	width: 40px;
	height: 40px;
}

.fotoEscudoBig{
	margin: 20%;
	width: 60%;
	height: 60%;
}